<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ym.batch.job.repository.AirKoreaMapper">

    <select id="selectStationName" resultType="String">
       select
         stationName
        from tblStation
        order by seq asc
    </select>

    <select id="selectStationNamesForCall" parameterType="ym.batch.job.airkorea.item.ApiCallManageVo" resultType="ym.batch.job.airkorea.item.ApiCallManageDto">
       select
        api_call_manage_seq AS apiCallManageSeq
        ,param
       from api_call_manage
       where 1=1
       and call_div = #{callDiv}
       and treate_stts = #{treateStts}
       and work_date = #{workDate}
       limit 0 , 50
    </select>

    <update id="insertAirdata" parameterType="java.util.HashMap">
		INSERT INTO tblAirData
        (     stationName   , dataTime
        )VALUES(
            #{stationName} , #{dataTime}
        )
	</update>

    <insert id="insertAirdataCallRegist" parameterType="ym.batch.job.airkorea.item.ApiCallManageVo">
		INSERT INTO api_call_manage
        (call_div,treate_stts,param,create_dt,work_date)
        VALUES(
        #{callDiv} , #{treateStts}, #{param}, now() , now()
        )
	</insert>

    <update id="updateTreeteStts" parameterType="java.util.List">
		UPDATE api_call_manage
        SET treate_stts = 'DN' , update_dt = now()
        WHERE api_call_manage_seq in
        <foreach collection="list" item="srl" index="index" separator="," open="(" close=")">
        #{srl}
        </foreach>
	</update>

</mapper>