<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ym.batch.job.repository.CoronaMapper">


    <insert id="insertCoronaRegist" parameterType="ym.batch.job.Corona.item.CoronaVo">
		INSERT INTO corona_summary
        (countryName,newCase,totalCase,recovered,percentage,death,newCcase,newFcase,create_dt)
        VALUES(
        #{countryName} , #{newCase}, #{totalCase}, #{recovered}, #{percentage}, #{death}, #{newCcase},#{newFcase}, now()
        )
	</insert>

</mapper>

